.animation_text {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../assets/bg1.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  z-index: 9000000000000000000;
  top: 0;
  left: 0;
}
.animation_text > img {
  position: relative;
}
@media (max-width: 700px) {
  .animation_text svg {
    display: none !important;
  }
  .animation_text svg text {
    display: none;
  }
}
.animation_text svg {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.animation_text svg img {
  width: 300px;
  height: 300px;
}
.animation_text svg text {
  position: relative;
  stroke: var(--alt-alt-main);
  font-size: 100px;
  font-weight: 70;
  stroke-width: 6;
  animation: textAnimate 3s infinite alternate;
  transform: translateX(-100%);
  font-family: "Noto Sans", Arial;
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 100%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 100% 0;
    stroke-dashoffset: -20%;
  }
}
